<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/chat_styles.css') }}">
</head>
<body style="background: black; min-height: 95vh; vertical-align: bottom;">
<p class="block"><label class="nick_field">Nick:
    <input id="nick" placeholder="Your name" class="nick_field">
    <button id="connect">Connect</button>
</label>
</p>
<p class="block"><textarea class="text" id="output" rows="10" cols="50" readonly
                           disabled></textarea></p>
<p class="block">
    <input class="text_field" id="text" placeholder="text message">
    <button class="buttons" id="send">Send</button>
</p>

<script lang="javascript">
    let ws;
    let connect_btn = document.getElementById('connect')
    let nick = document.getElementById('nick')
    let btn = document.getElementById('send')
    let text = document.getElementById('text')
    let out = document.getElementById('output')
    let notification_sound = new Audio("{{ url_for('static', filename='sounds/notification.wav') }}")
    notification_sound.volume = 0.1

    connect_btn.onclick = function () {
        ws = new WebSocket('ws://149.154.67.79:5678')

        ws.onmessage = function (msg) {
            out.append(msg.data + '\n')
            out.scrollTop = out.scrollHeight
            if (document.hidden) {
                notification_sound.play()
            }
        }
        ws.onopen = function () {
            out.append('SYSTEM: connected\n')
            nick.disabled = true
            connect_btn.disabled = true
        }
        ws.onerror = function () {
            out.append('Some error occurred, try to reload page\n')
        }
        ws.onclose = function () {
            out.append('SYSTEM: disconnected\n')
            nick.disabled = false
            connect_btn.disabled = false
        }
    }

    btn.onclick = function () {
        ws.send(nick.value + ': ' + text.value)
        text.value = ''
    }

    window.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
            btn.click()
        }
    })
</script>
</body>
</html>
