<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/chat_styles.css') }}">
</head>
<body style="background: black; min-height: 95vh; vertical-align: bottom;">
<p class="block"><label class="nick_field">Nick:
    <input id="nick" placeholder="Your name" class="nick_field">
</label>
</p>
<p class="block"><textarea class="text" id="output" rows="10" cols="50" readonly
                           disabled></textarea></p>
<p class="block">
    <input class="text_field" id="text" placeholder="text message">
    <button class="buttons" id="send">Send</button>
</p>

<script lang="javascript">
    let ws = new WebSocket('ws://149.154.67.79:5678')

    let nick = document.getElementById('nick')
    let btn = document.getElementById('send')
    let text = document.getElementById('text')
    let out = document.getElementById('output')

    btn.onclick = function () {
        ws.send(nick.value + ': ' + text.value)
        text.value = ''
    }

    window.addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
            btn.click()
        }
    })

    ws.onmessage = function (msg) {
        out.append(msg.data + '\n')
        out.scrollTop = out.scrollHeight
    }
</script>
</body>
</html>
